*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
#bar{
    display: none;
}
#user{
    display: none;
}
.hero{
    background: url(Images/hero.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 75vh;
}
.link{
    text-decoration: none;
    color: white;
    
    font-size: 16.5px;
    font-weight: 300;
}
.hero_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    padding-left: 100px;
    padding-right: 65px;
    gap: 10px;
    } 
 .navbar_menu{
    display: flex;
    gap: 35px;
    height: 30px;
}

.link1{
    display: flex;

    text-decoration: none;
    color: white;
    font-size: 13px; 
    font-weight: 400;
    padding-top: 12px;
    
}
 .main_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.im{
    width: 285px;
    margin-top: 45px;
} 
 .main_image_heading{
    font-size: 35px;
    font-weight: 350;
}
.kol
{
    font-weight: 450;
}
.main_image{
    
    display: flex;
}
 .input{
    display: flex;
    gap: 0px;
    background-color:white;
    border-radius: 10px;
    width: 776px;
    height: 50px;
    justify-content: space-around;
   
}
#location{
    width: 30%;
    height: 75%;
    border: none;
    outline: none;
    margin-top: 6px;
    border-right: 1.4px solid lightgrey;
}
#search{
    
    border: none;
    outline: none;
    width: 60%;
    height: 75%;
    margin-top: 6px;
    
}
#location_icon{
    margin-top: 15px;
    margin-left: 9px;
    font-size: 20px;
    color: palevioletred;
}

#search_icon{
    margin-top: 15px;
    margin-left: 9px;
    font-size: 20px;
    color: palevioletred;

} 

/* media query part for hero section */
 @media (max-width: 375px){
    .hero{
        height: 63vh;
    }
    .hero_header{
        display: flex;
        padding-left: 25px;
        padding-right: 0px;
        justify-content: space-between; 
     
    }
    .navbar_menu .link{
        display: none;
    }
    
    .link1{
        display: none;
    }
    #bar{
        display: flex;
        font-size: 22px;

    }
    #user{
        display: flex;
        font-size: 22px;
        padding-right: 25px;
        padding-top: 8px;
        color: red;
        


    }
    .main_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .im{
        width: 285px;
        margin-top: 55%;
    } 
     .main_image_heading{
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -10px;
        
        font-weight: 350;
    }
    .kol
{    
    display: block;
    text-align: center;
}
.input{
    display: flex;
    gap: 10px;
    background-color:white;
    border-radius: 10px;
    width: 80vw;
    
    justify-content: space-around;
   
}
#location{
    width: 87%;
    height: 75%;
    border: none;
    outline: none;
    margin-top: 6px;
    border-right: 1.4px solid lightgrey;
}

#location_icon{
    margin-top: 14px;
    margin-left: 9px;
    margin-right: 6px;
    font-size: 20px;
    color: palevioletred;
}
    
} 
@media (min-width: 375px) and (max-width: 810px){
    .hero{
        height: 53vh;
    }
    .hero_header{
        display: flex;
        padding-left: 25px;
        padding-right: 0px;
        justify-content: space-between; 
     
    }
    .link1{
        font-weight: 450;
    }
    .navbar_menu{
        gap: 7px;
    }
    
    .navbar_menu .link{
       padding-top: 8px;
       padding-right: 23px;
       font-weight: 400;
    }
    
    
    .main_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .im{
        width: 285px;
        margin-top: 8em;
    } 
     .main_image_heading{
        font-size: 35px;
        height: 15%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -10.5px;
        
        font-weight: 350;
    }

.input{
    display: flex;
    gap: 10px;
    background-color:white;
    border-radius: 10px;
    width: 95vw;
    height: 55px;
    
    justify-content: space-around;
   
}
#location{
    width: 30%;
    height: 75%;
    border: none;
    outline: none;
    margin-top: 6px;
    border-right: 1.4px solid lightgrey;
}

#location_icon{
    display: flex;
    margin-top: 14px;
    margin-left: 9px;
    font-size: 20px;
    color: palevioletred;
}
#search{
    width: 83%;
}
}

.collect1{
    display: flex;
    flex-direction: row;
    height: 19rem;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.rice{
    background: url(Images/rice.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    height: 14em;
    width: 21rem;
    margin-left: 11em;
    border-radius: 4%;
   align-items: flex-end;

}
.restra{
    background: url(Images/restau.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    height: 14em;
    width: 21rem;
    border-radius: 4%;
    align-items: flex-end;
}
.club{
    background: url(Images/party.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    height: 14em;
    width: 21rem;
    margin-right: 11em;
    border-radius: 4%;
    align-items: flex-end;
}
.info1{
    display: flex ;
    background-color: white;
    width: 100em;
    height: 35%;
    flex-direction: column;
    border: 1px solid #e0e0e0
}
.rice_heading{
  padding-left: 1em;
  padding-top: 0.8em;
  font-size: 1.2rem;
  font-weight: 450;
  color: rgb(47, 43, 43)
  
}
.rice_info{
    padding-left: 1em;
    font-weight: 350;
    color: rgb(44, 40, 40);
    
}
.info2{
    display: flex ;
    background-color: white;
    width: 100em;
    height: 35%;
    flex-direction: column;
    border: 1px solid #e0e0e0
}
.restra_heading{
    padding-left: 1em;
    padding-top: 0.8em;
    font-size: 1.2rem;
    font-weight: 450;
    color: rgb(47, 43, 43)

}
.restra_info{
    padding-left: 1em;
    font-weight: 350;
    color: rgb(44, 40, 40);

}
.info3{
    display: flex ;
    background-color: white;
    width: 100em;
    height: 35%;
    flex-direction: column;
    border: 1px solid #e0e0e0
}
.club_heading{
    padding-left: 1em;
    padding-top: 0.8em;
    font-size: 1.2rem;
    font-weight: 450;
    color: rgb(47, 43, 43)

}
.club_info{
    padding-left: 1em;
    font-weight: 350;
    color: rgb(44, 40, 40);

}
.rice{
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;    
}
.rice:hover{
    height: 15.5em;
    width: 22.5rem;
}
.restra{
   
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;  
}
.restra:hover{
    height: 15.5em;
    width: 22.5rem;
}
.club{
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;  
}
.club:hover{
    height: 15.5em;
    width: 22.5rem;
}
.collect2{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4rem;
    
}
.collect2_info{
    display: flex;
}
.collect2 .heading{
    margin-left: 9%;
    margin-bottom: 0.1%;
    font-size: 35px;
}
.info4{
    margin-left: 9%;
    margin-bottom: 2%;
    color: rgb(47, 43, 43);
    font-weight: 330;
}
.collect2_info{
    display: flex;
    justify-content: space-between;
}
.link4{
    margin-right: 9%;
    text-decoration: none;
    color: tomato;

}
.cards{
    display: flex;
    height: 20rem;
    gap: 20px;
    justify-content: space-around;
    color: #ffffff;
}
.card1{
    background: url(Images/street.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin-left: 7em;
    width: 18rem;
    border-radius: 9px;
    align-items: flex-end;
    
}
.card2{
    background: url(Images/collection_food2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 18rem;
    border-radius: 9px;
    align-items: flex-end;
}
.card3{
    background: url(Images/monument.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 18rem;
    border-radius: 9px;
    align-items: flex-end;
}
.card4{
    background: url(Images/biryani.png);
    background-size: cover;
    background-position: center;
    display: flex;
    margin-right: 7em;
    width: 18rem;
    border-radius: 9px;
    align-items: flex-end;
}

.card1_title{
   margin-left: 18px;
  font-weight: 650;
   }
.card1_info{
    margin-left: 18px;
    font-size: small;
  font-weight: 650;
}
.card2_title{
    margin-left: 18px;
   font-weight: 650;
 }
 .card2_info{
     margin-left: 18px;
     font-size: small;
    font-weight: 650;
 }
 
 .card3_title{
    margin-left: 18px;
   font-weight: 650;
 }
 .card3_info{
     margin-left: 18px;
     font-size: small;
   font-weight: 650;
 }
 
 .card4_title{
    margin-left: 18px;
   font-weight: 650;
 }
 .card4_info{
     margin-left: 18px;
     font-size: small;
     font-weight: 650;
 }
 
 @media (min-width: 375px) and (max-width: 810px){
     /* .collect1{
         /* flex-wrap: wrap; 
     } 
     */
 }
 
 .localitis{
     margin-top: 3rem;
     margin-bottom: 8rem;
   }
 .localitis_heading{
    margin-left: 9%;
    margin-bottom: 0.1%;
    font-size: 40px;
    color: rgb(54, 49, 49);

 }
 .boxes{
    margin-right: 7em;
    margin-left: 7em;
     padding-top: 3rem ;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
   }
 .places{
    border-radius: 10px;
    box-shadow: 0.7px 0.7px 0.7px 0.7px   #d1c9c9;
     height:80px;
     border: 1px solid #dfdcdc;
 }
 
 .palce_heading,.place_info {
     padding-left: 15px;
 }
.palce_heading{
    margin-top: 20px;
    font-size: larger;
    color: rgb(33, 30, 30);
}
 .place_info{
    color: rgb(83, 77, 77);
 }
 .phone{
     display: flex;
     background-color: rgba(242, 242, 242, 0.372);
     margin-bottom: 1rem;
     padding-bottom: 10rem;    
 }
 .app{ display: flex;}
 .phonecontainer{
     display: flex;
     width: 40%;
     height: 100%;
     align-items: center;
     justify-content: center;
     margin-left: 7rem;
 }
 #phoneimg{
     width: 70%;
     margin: auto;
     margin-left: 30%;
     margin-top: 14%;
  }
 .getapp{ width: 60%;}
 .getapp_heading{
     font-size: 40px;
     font-weight: 400;
     padding-left: 2rem;
     margin-bottom: 0.7rem;
 }
 .getapp_info{
    padding-left: 2rem;
    color: rgb(83, 77, 77);
    padding-bottom: 1.5rem;
 }
 .radio{
     display: flex;
     gap: 35px;
     padding-left: 2rem;
     padding-bottom: 1.5rem;
 }
 .btn{
     display: flex;
     gap: 7px;
 }
 #email, #phone{
     padding-top: 4rem;
     width: 1.2rem;
     accent-color: tomato;
     cursor: pointer;
 }
 .input1{
     display: flex;
     justify-content: flex-start;
     gap: 15px;
     margin-left: 2rem;
     height: 50px;
     margin-bottom: 1.5rem;
 }
 #btn2{
     color: white;
     background-color: rgb(239, 79, 95);
     border: none;
     width: 140px;
     border-radius: 5px;
     cursor: pointer;
 }
 .dwnld{
    padding-left: 2rem;
    color: rgb(83, 77, 77);
    margin-bottom: 1.5rem;
 }
 .app_play{
    padding-left: 2rem;
    display: flex;
    gap: 17px;
 }
 .play , .apple{
     width: 150px;
     cursor: pointer;
    
 }
 .options{
     display: grid;
     grid-template-rows: repeat(4 ,1fr);
     gap: 15px;
}
 .opt{
     height: 70px;
     width: 85vw;
     margin: auto;
     border-radius: 5px;
     box-shadow: 0.7px 0.7px 0.7px 0.7px   #d1c9c9;
     border: 1px solid #dfdcdc;
     font-size: 20px;
     color: rgb(59, 55, 55);
     padding-left: 2%;
     padding-top: 1%;
 }
 .head1{
    margin-left: 6rem;
    padding-bottom: 2rem;
    font-size: 30px;
     font-weight: 400;
     color: rgb(31, 29, 29);
    
 }
 .explore{
     margin-bottom: 4.5rem;
 }
 footer{
    background-color: rgba(242, 242, 242, 0.372);
     padding-bottom: 5rem;
 }
 .disp23{
    display: flex;  
}
 .aboutzoma{
     display: grid;
     grid-template-rows: repeat(auto ,1fr);
     grid-gap: 15px;
     /* background-color: cyan;
     border: 1px solid red; */
     width: 20vw;
  
 }

 .about{
     width: 200px;
     height: 20px;
     color: rgb(141, 129, 129);
     font-size: smaller;
     

 }
 .zomatitle{
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 200px;
    height: 20px;
 }
 #zomatitle5{
    height: 10px;
 }
  #unq1{
     margin-left: 6rem;
 }
 #unq{
    margin-right: 6rem;
}
 #a{
     display: grid;
     grid-gap: 5px;
 }
 .zoma_logo{
     margin-left: 6rem;
    margin-bottom: 3rem;
    margin-left: 6rem;
    padding-top: 3rem;
 }
 .zoma{
    margin-right: 40rem;
    width: 140px;
    filter: invert(100%);
 }
 .india, .intern{
    color: black;
    background-color: rgba(242, 242, 242, 0.372);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid gray;

 }
 .india{
     margin-right: 1rem;
 }
 .iconx{
     display: flex;
     gap: 10px;
 }
 .iconx i{
    font-size: 150%;
    cursor: pointer;
   }
   .discription{
    margin-left: 6rem;
    margin-right: 7.5rem;
    margin-top: 5.5rem;
    margin-bottom: -2rem;
 }
 .discription p{
     padding-top: 1.5rem;
     font-size: 13px;
     color: rgb(141, 129, 129);
     border-top: solid 1px rgb(198, 183, 183);
 }
 .about:hover{
     cursor: pointer;
     color: rgb(32, 29, 29);

 }
 #in_flag{
     display: flex;
     
 }